.container{
    display: flex;
}
.grid-user{
    width: 400px;
    height: 440px;
    display: flex;
    flex-wrap:wrap;
    background-color: blue;
    margin: 20px;
}
.grid-computer{
    width: 400px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 20px;
}
.grid-computer div{
    width: 40px;
    height: 40px;
    border: solid black 1px;
    background-image: url("../img/board.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}
.pc{
    width: 40px;
    height: 40px;
    border: solid black 1px;
    background-color: pink;
    background-size: cover;
    background-repeat: no-repeat;

   background-image:  url("../img/tenor.gif");
   }
   .pc1{
    width: 40px;
    height: 40px;
    border: solid black 1px;
    background-color: pink;
    background-size: cover;
    background-repeat: no-repeat;

   background-image:  url("../img/giphy.gif");
   }
.grid-user div{
    width: 40px;
    height: 40px;
    border: solid black 1px;

}
.clicked{
    pointer-events: none;
    cursor: default;
}
.grid-display{
    width: 400px;
    height: 400px;
    background-color: yellow;
    margin: 20px;
}
.destroyer-container{
    width: 80px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
}
.destroyer-container-vertical{
    width: 40px;
    height: 80px;
    background-color: orange;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.submarine-container{
    width: 120px;
    height: 40px;
    background-color: pink;
    margin: 10px;
    display: flex;
}
.submarine-container-vertical{
    width: 40px;
    height: 120px;
    background-color: pink;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.cruiser-container{
    width: 120px;
    height: 40px;
    background-color: purple;
    margin: 10px;
    display: flex;
}
.cruiser-container-vertical{
    width: 40px;
    height: 120px;
    background-color: purple;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.battelship-container{
    width: 160px;
    height: 40px;
    background-color: aqua;
    margin: 10px;
    display: flex;
}
.battelship-container-vertical{
    width: 40px;
    height: 160px;
    background-color: aqua;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.carrier-container{
    width: 200px;
    height: 40px;
    background-color: green;
    margin: 10px;
    display: flex;
}
.carrier-container-vertical{
    width: 40px;
    height: 200px;
    background-color: green;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.ship div{
    width: 40px;
    height: 40px;

}
.destroyer{
    background-color: black;
}
.carrier{
    background-color: orange;
}
.battelship{
    background-color: red;
}
.cruiser{
    background-color: gray;
}
.submarine{
    background-color: pink;
}
#progress{
    width: 400px;
    height: 20px;
    border:solid black 2px;
    background: skyblue;
    display: flex;
    flex-wrap: nowrap;
}
#progres{
    width: 400px;
    height: 20px;
    border:solid black 2px;
    background: skyblue;
    display: flex;
    flex-wrap: nowrap;
}